@model SoPro24Team03.ViewModels.NoteViewModel
@{
    ViewData["Title"] = "Aufgaben / Notiz löschen";
}
@using Markdig

<div class="row m-2">
    <h4>@Model.Title</h4>
    <hr>
    <div>
        @Html.Raw(Markdown.ToHtml(@Model.Text.Replace("\n", "<br />")))
    </div>
</div>

<div class="row m-2">
    <div class="col-md-4">
        <form asp-action="DeleteNote">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pb-3">
                <input type="submit" value="Löschen" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="container m-2">
    <a asp-action="Index">Zurück zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
